---
- name: Ansible playbook for login to openshift
  remote_user: root
  hosts: webservers
  tasks:
     - name: Create Project
       command: oc login https://10.20.14.183:8443/ -u system -p admin
     - name: check host name
       command: hostname
     - name: Changing MyWeb project
       command: oc project myweb
     - name: Delete existing project
       command: oc delete all --all
     - name: New app creating
       command: oc new-app --name=xortest https://github.com/satishthakare/DeploymentDemo.git --strategy=docker
     - name: Exposing Service
       command: oc expose service/xortest
...
